<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coding4Fun.Phone.Controls.Complete" version="1.5.1" />
  <package id="Coding4Fun.Toolkit.Controls" version="2.0.2" targetFramework="wp80" />
  <package id="Microsoft.Bcl" version="1.0.19" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Async" version="1.0.16" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Build" version="1.0.8" targetFramework="wp80" />
  <package id="MvvmLight" version="4.1.27.0" targetFramework="wp80" />
  <package id="MvvmLightLibs" version="4.1.27.0" targetFramework="wp80" />
  <package id="MvvmLightLibsPreview" version="4.1.0" />
  <package id="SilverlightToolkitWP" version="4.2011.12.14" />
  <package id="WPtoolkit" version="4.2012.10.30" targetFramework="wp80" />
</packages>