<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns="http://schemas.datacontract.org/2004/07/RssStarterKit.Configuration"
          xmlns:m="http://schemas.datacontract.org/2004/07/RssStarterKit.Models">

  <!-- Increment this number each time you submit to the marketplace
       so that the application will update properly-->
  <Version>1</Version>

  <!-- This is the title of the application that shows up on the application pages -->
  <Title>RssStarterKit Application</Title>

  <!-- This parameter indicates how often a refresh should occur to the content of each of the feeds -->
  <RefreshIntervalInMinutes>60</RefreshIntervalInMinutes>

  <!--
  This setting enables a local preview of the selected feed item. This is useful if your
  application is running offline, without access to the network, and you want to maintain
  some text to display to the user.
  -->
  <PreviewEnabled>false</PreviewEnabled>

  <!--
  This section describes the theme customization points for colors, etc. for the HTML Preview.
  Application theme customization is handled via Blend or Visual Studio customization.
  Colors can be listed by name, or by hex equivalents (e.g. #00FF00 for green)
  -->
  <Theme>
    <BodyForeground>White</BodyForeground>
    <BodyBackground>Black</BodyBackground>
  </Theme>

  <!--
  This section allows you to have ads in your application.  Go to http://pubcenter.microsoft.com and create
  a free account there, define an application with a few ad units, according to the instructions, and put
  that information here.

  To test, please use the following information:
    ApplicationId = test_client
    AdUnitID = Image480_80

  To remove the ads, empty out both the ApplicationId and AdUnitId nodes
  -->
  <AdInfo>
    <ApplicationId></ApplicationId>
    <AdUnitId></AdUnitId>
  </AdInfo>

  <!--
  This section contains the separate RSS or ATOM feeds consumed by the application.  Each feed
  contains the following elements - both of which are REQUIRED:

    Title - the common title of the feed for display on the page
    RssUrl - the URL for the rss or atom data feed for the content

  The "m:" markers (called Namespaces in XML) are REQUIRED for the application to function
  properly. If you want to add more feeds, simply copy an existing one and change the data.

  Also - for each of the RSS feeds, you need to ensure that the feed URL is properly encoded. The
  biggest place this causes errors for folks is the Ampersand character. Instead of the
  "default" character, it needs to be encoded as "&amp;".  If you're getting deserialization
  errors when running the app, chances are this is the cause...

  To test out your feed before pasting here, try it out at http://feedvalidator.org

  -->
  <RssFeeds>
    <m:RssFeed>
      <m:Title>Windows Phone Blog</m:Title>
      <m:RssUrl>http://windowsteamblog.com/windows_phone/b/windowsphone/rss.aspx</m:RssUrl>
    </m:RssFeed>
    <m:RssFeed>
      <m:Title>Windows Phone Developer Blog</m:Title>
      <m:RssUrl>http://windowsteamblog.com/windows_phone/b/wpdev/rss.aspx</m:RssUrl>
    </m:RssFeed>
    <m:RssFeed>
      <m:Title>Blogging Windows</m:Title>
      <m:RssUrl>http://windowsteamblog.com/windows/b/bloggingwindows/rss.aspx</m:RssUrl>
    </m:RssFeed>
    <m:RssFeed>
      <m:Title>Chris Koenig</m:Title>
      <m:RssUrl>http://feeds.feedburner.com/chriskoenig</m:RssUrl>
    </m:RssFeed>
    <m:RssFeed>
      <m:Title>Thirsty Developer</m:Title>
      <m:RssUrl>http://feeds.feedburner.com/ThirstyDeveloperPodcast</m:RssUrl>
    </m:RssFeed>
    <m:RssFeed>
      <m:Title>This Developer's Life</m:Title>
      <m:RssUrl>http://feeds.feedburner.com/thisdeveloperslife</m:RssUrl>
    </m:RssFeed>
    <m:RssFeed>
      <m:Title>Atom Enabled</m:Title>
      <m:RssUrl>http://www.atomenabled.org/atom.xml</m:RssUrl>
    </m:RssFeed>
  </RssFeeds>

</Settings>